.project-details {
  margin: 10% auto;
  width: 400px;
  height: min-content;
  background: #fff;
  color: #333;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.project-details a {
  margin-top: 5px;
  margin-left: auto;
  text-decoration: none;
  color: black;
  height: 20px;
}
.project-details img {
  width: 400px;
}
